.card-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-logo{
  .stroke {
    stroke: $wwtBlue;
  }
}

.wwt-logo {
  .style0{
    fill: #EE282A;
  }
  .style1{
    fill: #0780D7;
  }
}
